<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.skappich.EVE" version="0.0.1">

	<name>EVE (POC)</name>

	<description>
		TwoDices E.E.S EVE (POC)
	</description>

	<author href="http://skappich.github.com"
		email="skappich@gmail.com">
		Sebastian Kappich
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>
	
	<preference name="orientation" value="landscape" />

	<icon src="icon.png" gap:role="default" />
	<gap:splash src="res/drawable/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="res/drawable/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="res/drawable/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="res/drawable/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
